<section class="content" role="main">
    
    <div class="container">
      <mat-card class="card mt-3" *ngFor="let movie of Movies.results" style="padding: 0; height: 280px" routerLink="/movie-details/{{movie.id}}">
        <mat-grid-list cols="5" rowHeight="280px" class="fade-in">
          <mat-grid-tile>
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="movie-poster" alt="{{movie.title}}" />
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-card-content style="top:0; position: absolute; padding: 10px">
              <mat-card-header>
                <mat-card-title>
                  <h4>
                  <a mat-button routerLink="/movie-details/{{movie.id}}" class="movie-title">{{movie.title}}</a>
                  </h4>
                </mat-card-title>
                <mat-card-subtitle><i>{{movie.release_date | date}}</i></mat-card-subtitle>
              </mat-card-header>
              <div class="description">
                {{movie.overview}}
              </div>
            </mat-card-content>
            <div class="more-info">
              <a mat-button routerLink="/movie-details/{{movie.id}}">More info</a>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <mat-card *ngIf="noResult">
        <mat-card-content>
          <mat-card-header>
            <h2>No movies found...</h2>
          </mat-card-header>
        </mat-card-content>
      </mat-card>
    </div>
  </section>